body {
font-family: arial;
text-align: center;
background-image: url("jeremy_background.png");
background-size: cover; 
}

button {
text-align: center;
    padding: 10px;
    background-color: #6a67ce;
    color: #FFFFFF;
    border: 0px;
    cursor: pointer;
    border-radius: 5px;
}

.test {

    color: w#FFFFFF;
}


.hide {
    display: none;
}

.show {
    display: block;
}

p, a {
    color: white;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
}

h2 {
    text-shadow:
        0.05em 0 white,
        0 0.05em white,
        -0.05em 0 white,
        0 -0.05em white,
        -0.05em -0.05em white,
        -0.05em 0.05em white,
        0.05em -0.05em white,
        0.05em 0.05em white;

}